.install-app-design{
    text-align: center;
    margin-bottom:10px;
}
.install-app-design button {
    margin: 0 5px;
    padding: 10px 0;
    width:150px;
    font-size: 16px;
    font-weight:500;
    border-radius: 5px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
}

.install-app-design button:hover {
    background-color: #e0e0e0;
}